* {
  margin: 0px;
  box-sizing: border-box;
}




body {
  font-family: OCR A Std, monospace, Tahoma, sans-serif;
}

/*ŠTÝLY PRE FONTY*/
h1 {
  font-size: 65px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4,
h5,
h6 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin-bottom: 0.7em;
}

main {
  margin-top: 60px;
}

/*každý druhý section element 
bude mať bledomodre pozadie*/
main section:nth-child(even) {
  background-color: #61c2fadb;
}

/*ŠTÝLY PRE HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
  max-width: 100%;
}

.main-menu li {
  display: inline;
  margin-left: 20px;
}

.main-menu li a {
  text-decoration: none;
  color: black;
}

.main-menu li:hover a {
  text-decoration: underline;
  background-color: black;
  color: #f7f7f7;
}

.hamburger {
  display: none;
}

/*ŠTÝLY PRE LAYOUT*/
.container {
  padding: 3% 10% 3% 10%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 25px 0px;
  gap: 20px;
}

/*šírka stĺpcov .col pod class .row*/
.row .col-25 {
  width: 25%;
}

.row .col-33 {
  width: 33%;
}

.row .col-50 {
  width: 50%;
}

.row .col-100 {
  width: 100%;

}

/*FARBY POZADIA*/
.bg-dark {
  background-color: rgb(25, 25, 25);
}

/*FARBY TEXTOV*/
.text-dark {
  color: rgb(25, 25, 25);
}

.text-white {
  color: white;
}

/*ZAROVNANIE TEXTOV*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*FOOTER*/
footer {
  margin-top: 550px!important;
}

footer p a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 0px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .row {
    flex-direction: column;
  }

  .row .col-25,
  .row .col-33,
  .row .col-50 {
    width: 100%;
  }

  .main-menu {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  .main-header {
    position: relative;
    top: 0px;
  }

  /*ŠTÝLY PRE HEADER*/
  .main-menu {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  .main-header {
    position: relative;
    top: 0px;
  }

  .main-menu.responsive {
    display: block;
    position: absolute;
    background-color: #61c2fadb;
    width: 100%;
    top: 60px;
    left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-menu.responsive li {
    display: block;
    margin-left: 0px;
  }

}

/*<!-- link ako tlacidlo --> */
.tlacidlo {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.tlacidlo:hover {
  background-color: #3498db;
  color: white;
}


.produkty-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 2rem;
}

.produkt-card {

  width: 18rem;
  height: auto;
  margin: 1rem;
  background-color: white;
  border-radius: 15px;
  margin-top: 5rem;
  border: solid 2px black;
  transition: scale 0.3s ease;
  text-decoration: none;
}
.produkt-card a {
  text-decoration: none;
  color: black;
}

.card-spacer {
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 50px;
}

.produkt-card:hover {
  scale: 1.1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.produkt-image {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.produkt-title {
  text-align: center;
  margin-top: 1rem;
}

.produkt-text {
  margin-left: 1rem;
}

.price-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-button {
  background-color: black;
  padding: 10px;
  border-radius: 15px;
  color: white!important;
  text-decoration: none;
  margin-right: 1rem;
  border: solid 2px black;
  transition: background-color 0.3s ease;

}
/*
.kosik {
  color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 10px!important;
}

.kosik:hover {
  background-color: white;
  color: black!important;
  border: solid 2px black;
  padding: 10px!important;
} */

.shopping-cart-button:hover {
  background-color: white;
  color: black!important;
  border: solid 2px black;

}

#create {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 50px;
    background-color: #328fe6; 
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    line-height: 3;
    border: solid 2px black;
  
}
#create:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    scale: 1.1;
    border: solid 2px black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    
} 

.create-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 200px;
  margin-left: 35%;
}

.create-container button:active {
  scale: 0.95;
}

.create-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-container .create-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.create-container .create-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.create-container .create-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.create-container .create-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.create-container .create-group input::placeholder {
  opacity: 0.5;
}

.create-container .create-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.create-container .create-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.create-container .create-submit {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.create-container .create-submit:hover {
  background-color: #fff;
  border-color: #fff;
}

.product-container {
  margin-top: 100px;
  display: flex;
  align-items: start;
  margin-right: 5%;
  margin-left: 5%;
}

.product-image {
  width: 50%; /* adjust as needed */
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.product-info {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-size: 35px; /* adjust as needed */
  margin-bottom: 50px;
  margin-top: 50px;


}

.product img {
  margin-bottom: 10px;
}

.rmv-btn {
  background-color: #ee4236;
  color: #ffffff;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rmv-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: solid 1px rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}


.product-description {
  font-size: 20px; 
  border: solid 1px black;
  padding: 5%;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.edit-button {
  background-color: #328fe6;
  color: white!important;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 5rem;
  border: solid 2px black;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.edit-button:hover {
  background-color: white!important;
  color: black!important;
  border: solid 2px black;
}

.edit-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 200px;
  margin-left: 35%;
}

.edit-container button:active {
  scale: 0.95;
}

.edit-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-container .edit-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edit-container .edit-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.edit-container .edit-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.edit-container .edit-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.edit-container .edit-group input::placeholder {
  opacity: 0.5;
}

.form-container .edit-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.edit-container .edit-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.edit-container .edit-submit {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.edit-container .edit-submit:hover {
  background-color: #fff;
  border-color: #fff;
}


.delete-button {
  background-color: red;
  color: white!important;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 5rem!important;
  border: solid 2px black;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.delete-button:hover {
  background-color: white!important;
  color: black!important;
  border: solid 2px black;
}

.master-container {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  justify-content: relative;
  margin-right: 5px;
}

.card {
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #efeff3;
  font-weight: 700;
  font-size: 11px;
  color: #63656b;
}

/* cart */
.cart {
  border-radius: 19px 19px 7px 7px;
}

.cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cart .products .product {
  display: grid;
  grid-template-columns: 60px 1fr 80px 1fr;
  gap: 10px;
}

.cart .products .product span {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin-bottom: 8px;
  display: block;
}

.cart .products .product p {
  font-size: 11px;
  font-weight: 600;
  color: #7a7c81;
}

.cart .quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}

.cart .quantity label {
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #47484b;
}

.cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}

.card .small {
  font-size: 15px;
  margin: 0 0 auto auto;
}

.card .small sup {
  font-size: px;
}

/* coupons */
.coupons {
  border-radius: 7px;
}

.coupons form {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 10px;
}

.input_field {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.coupons form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background-color: #328fe6;
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: solid 2px black;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  transition: 0.3s;
}
.coupons form button:hover {
  background-color: #ffffff;
  color: black;
  border: solid 2px black;
  transition: 0.3s;
}

/* Checkout */
.checkout {
  border-radius: 9px 9px 19px 19px;
}

.checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  gap: 5px;
}

.checkout .details span {
  font-size: 13px;
  font-weight: 600;
}

.checkout .details span:nth-child(odd) {
  font-size: 11px;
  font-weight: 700;
  color: #707175;
  margin: auto auto auto 0;
}

.checkout .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin: auto 0 auto auto;
}

.checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: #efeff3;
}

.price {
  
  font-size: 22px;
  color: #2B2B2F;
  font-weight: 900;
  position: relative;
}

.price sup {
  font-size: 13px;
}

.price sub {
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}

/*.checkout .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
} */

.colorful-form {
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-left: 5px;
}

.chckt-group {
  margin-bottom: 20px;
}

.chckt-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.chckt-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.chckt-input-a {
  height: 40px;
  width: 500px;
  border-radius: 5px;
  border: none;
}

.chckt-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #328fe6;
  color: #ffffff;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chckt-button:hover {
  background-color: #ffffff!important;
  color: black;
  border: solid 2px black;
  border-radius: 5px;
}

.parent-container-chckt {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}